section.company-list {
    section.company-about {
        .control-group {
            .el {
                display:inline-block;
                padding: 8px 12px;
                &.el-tour{
                    float:right;
                    width:120px;
                }
                b, span {
                    display:block;
                    text-align:center;
                }
                b {
                    font-weight:500;
                    font-size:18px;
                }

            }
        }
        padding-top:20px;
        padding-bottom:20px;
        .logo {
            border:3px solid fade(@colorMainBackground,10%);
            height:80px;
            width:80px;
            overflow:hidden;
            img {
                height:100%;
            }
        }
        .title {
            h2 {
                font-size:16px;
                font-weight:400;
            }
            span {
                font-size:16px;
            }
        }
        .logo, .logo-round, .logo-tiny {
            transition: all 0.4s cubic-bezier(.55,.33,.27,.74);
        }
        .the-stars {
            margin-top:5px;
        }
        .line {
            .box {
                float:none;
                padding:0;
                margin-right:0;
                margin-left:0;
                margin-bottom:0;
                margbin-top:0;
                p {
                    font-size:17px;
                    font-weight:400;
                }
                span {
                    font-weight:200;
                }
                &.pay {
                    span {
                        font-size:9px;
                    }
                }
                &.ctrl {
                    padding-top:7px;
                }
            }
        }
        transform-origin:top center;
        transform-style:preserve-3d;

        border-bottom:4px solid fade(@colorMainBackground,90%);
        &:nth-child(odd){
            background: mix(@colorMainBackground,@colorWhite,10%);
        }
        &:nth-child(even){
            background: mix(@colorMainBackground,@colorWhite,60%);
        }
        &:hover {
            background: mix(@colorMainBackground, #fff, 35%);
            border-bottom:4px solid mix(@colorMainBackground, @colorBlack,95%);
        //    transform:rotateX(9deg) perspective(250px);
            .thumb-tiny, .logo {
                opacity:1;
                border:3px solid @colorMainBackground;
            }
            .thumb-round {
                transform:scale(1.04);
                border: 4px solid fade(@colorBlack,45%);
            }
        }
    }
}

section.company-about {
    min-height:160px;
    background: fade(#f4f2ed,80%);
    padding-top:20px;
    .box {
        text-align:center;
    }
    .button-cuisine {
        font-weight:400;
        text-transform:none;
    }
    .logo {
        background-size:70%;
        display:inline-block;
        margin-top:0px;
        background-color:#fff;
        border-radius:100px;
        background-position:center center;
        background-repeat:no-repeat;
        border:4px solid darken(@colorGrayLight,5%);
        height:80px;
        width:80px;
        overflow:hidden;
        img {
            height:100%;
        }
    }

    section.company-about .title * {
        text-align:center;
    }
    .likes {
        margin-top:15px;
        a {
            font-weight:400;
            &.like-down {
                i { color:red; text-shadow:0 0 2px fade(mix(red,#111,50%),70%); }
                margin-right:8px;
            }
            &.like-up {
                i { color:green; text-shadow:0 0 2px fade(mix(green,#111,50%),70%);  }
                margin-left:8px;
            }
        }
    }

    .the-info {
        padding-top:5px;
    }

    .title {
        text-align:center;
        h2 {
            font-weight:300;
            font-family:@fontDefault;
            font-size:16px;
            margin-top:5px;
            margin-bottom:0px;
        }
        span {
            font-size:12px;
            font-weight:200;
            font-family:@fontDefault;

        }
        margin-bottom:10px;
    }

    // food categories

    .line {
        padding-top:10px;
        padding-bottom:10px;
        .rating {
            position: absolute;
            top: 0px;
            right: 5px;
            color: #fff;
            padding: 6px 6px;
            background: #109634;
            border-radius: 4px;
        }
    }

    .types {
        .icon {
            margin-right:13px;
        }
        .food {
            font-weight:300;
            padding:6px 25px;
            font-size:0.9em;
            transition:0.4s linear all;
            background:fade(#fff,35%);
            border-radius:3px;
            border-bottom: 2px solid darken(@colorGrayLight,2%);
            &:hover {
                background: lighten(@colorGrayLight,8%);
                border-bottom: 2px solid darken(@colorGrayLight,12%);
            }
        }
    }

    // delivery information

    [class^="fi-"], [class^="fi-"]:before, [class*=" fi-"]:before, [class^="fi-"]:after, [class*=" fi-"]:after {
        font-size:32px;
    }
    .delivery {
        .icon {
            float:left;
            line-height:40px;
            margin-right:20px;
            color:fade(@colorBlack,70%);
        }


        .types {

        }
        .box {
            border-radius:3px;
            float:left;
            margin-left:0px;
            margin-right:20px;
            .detail-title {
                display:inline-block;
                font-size:10px;
                font-weight:300;
            }
            b {
                font-size:15px;
                line-height:18px;
                font-weight:400;
                display:block;
            }
            &.min {

            }
            &.pay {
                span {
                    padding-top:8px;
                    line-height:12px;
                }
            }
            .cards {
                margin-top:8px;
                float: left;
                margin-right:5px;
            }
            .card-icon {
                background:transparent;
                display:inline-block;
                float:left;
            }

        }

    }

    // bottom buttons line

    .buttons-line {
        padding-bottom:0px;
        padding-top:8px;

        .buttons-tabs {
            .button {
                margin-bottom:0px;
                margin-top:0px;
                padding-left:30px;
                padding-right:30px;
                z-index:1;

                span {
                    font-size:1em;
                    font-weight:400;
                }
                &:active {
                    border-left:0px;
                    border-right:0px;
                }
                &.active {
                    border-right:0px;
                    border-left:0px;
                    background: lighten(@colorGrayLight,15%);
                    border-bottom-color: darken(@colorGrayLight,12%);
                    z-index:2;
                }
            }
        }
        .buttons-reserv {
            text-align:center;
        }
    }

}
