
.menu {
    list-style:none;
    list-style-type:none;
    padding-left:0;

    ul {
        display:block;
        padding-left:0;
    }
    li {
        padding: 0;
        display:block;
        width:100%;
        text-align:left;

        &.has-child {
            margin-bottom:25px;
            .category-toggle.parent {
                .icon { transform: scale(1); }
            }
            .category-toggle .icon {
                opacity:0.4;
                transform: scale(0.8);
                border:2px solid fade(@colorBlack, 30%);
            }
            .category-toggle {
                opacity:1;
            }
        }
        &.active .parent .icon {
            background:@colorYellow;
        }
        .category-toggle {
            opacity:0.9;
            transition:0.3s cubic-bezier(.17,.67,.27,.01) all;
            border-bottom: 2px solid @colorGrayLight;
            background:fade(#fff,30%);
            text-align:left;
            text-transform:none;
            font-weight:300;
            &.parent {
                font-weight:300;
                .icon {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            &.active {
                opacity:1;
                background: #fff;
                .icon {
                    background: @colorYellow;
                    border:2px solid fade(@colorBlack, 75%);
                    opacity:1;
                    transform: scale(1);
                }
                border-bottom: 2px solid fade(mix(@colorGrayLight,@colorBlack,90%),80%);
                &:hover {
                    opacity:1;
                    background: fade(#fff,90%);
                    .icon {
                        background: @colorYellow;
                        border:2px solid fade(@colorBlack, 75%);
                        opacity:1;
                        transform: scale(1);
                    }
                    border-bottom: 2px solid fade(mix(@colorGrayLight,@colorBlack,90%),80%);
                }
            }
            &:hover {
                opacity:1;
                .icon {
                    background: @colorWhite;
                    border:2px solid fade(@colorBlack, 35%);
                    opacity:1;
                    transform: scale(1);
                }
                border-bottom: 2px solid fade(mix(@colorGrayLight,@colorBlack,90%),80%);
            }
            .icon {
                transform: scale(0.9);
                transition:0.3s cubic-bezier(.17,.67,.27,.01) all;
                width:12px;
                display:block;
                height:12px;
                background: fade(#edd200,10%);
                border:2px solid fade(@colorBlack, 15%);
                opacity:0.8;
                border-radius:15px;
                float:left;
                margin-right:12px;
            }
            padding:10px 15px;
            font-size:15px;
            font-weight:400;
            display:block;
            text-transform:none;
            width:100%;
        }
    }
}
